<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AdminReadersHeaven</display-name>
   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> 
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAdminServlet</display-name>
    <servlet-name>addAdminServlet</servlet-name>
    <servlet-class>controller.addAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAdminServlet</servlet-name>
    <url-pattern>/addAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>controller.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAdminServlet</display-name>
    <servlet-name>deleteAdminServlet</servlet-name>
    <servlet-class>controller.deleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAdminServlet</servlet-name>
    <url-pattern>/deleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAdminServlet</display-name>
    <servlet-name>updateAdminServlet</servlet-name>
    <servlet-class>controller.updateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAdminServlet</servlet-name>
    <url-pattern>/updateAdminServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>update1AdminServlet</display-name>
    <servlet-name>update1AdminServlet</servlet-name>
    <servlet-class>controller.update1AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update1AdminServlet</servlet-name>
    <url-pattern>/update1AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePasswordAdminServlet</display-name>
    <servlet-name>changePasswordAdminServlet</servlet-name>
    <servlet-class>controller.changePasswordAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordAdminServlet</servlet-name>
    <url-pattern>/changePasswordAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboardServlet</display-name>
    <servlet-name>dashboardServlet</servlet-name>
    <servlet-class>controller.dashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboardServlet</servlet-name>
    <url-pattern>/dashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addLibraryServlet</display-name>
    <servlet-name>addLibraryServlet</servlet-name>
    <servlet-class>controller.addLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addLibraryServlet</servlet-name>
    <url-pattern>/addLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approveLibraryListServelt</display-name>
    <servlet-name>approveLibraryListServelt</servlet-name>
    <servlet-class>controller.approveLibraryListServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveLibraryListServelt</servlet-name>
    <url-pattern>/approveLibraryListServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteLibraryServelt</display-name>
    <servlet-name>deleteLibraryServelt</servlet-name>
    <servlet-class>controller.deleteLibraryServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLibraryServelt</servlet-name>
    <url-pattern>/deleteLibraryServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approveLibraryServelt</display-name>
    <servlet-name>approveLibraryServelt</servlet-name>
    <servlet-class>controller.approveLibraryServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveLibraryServelt</servlet-name>
    <url-pattern>/approveLibraryServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disapproveLibraryServelt</display-name>
    <servlet-name>disapproveLibraryServelt</servlet-name>
    <servlet-class>controller.disapproveLibraryServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disapproveLibraryServelt</servlet-name>
    <url-pattern>/disapproveLibraryServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disapproveLibraryListServelt</display-name>
    <servlet-name>disapproveLibraryListServelt</servlet-name>
    <servlet-class>controller.disapproveLibraryListServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disapproveLibraryListServelt</servlet-name>
    <url-pattern>/disapproveLibraryListServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>libraryDetailsServlet</display-name>
    <servlet-name>libraryDetailsServlet</servlet-name>
    <servlet-class>controller.libraryDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>libraryDetailsServlet</servlet-name>
    <url-pattern>/libraryDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>libraryServlet</display-name>
    <servlet-name>libraryServlet</servlet-name>
    <servlet-class>controller.libraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>libraryServlet</servlet-name>
    <url-pattern>/libraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateLibraryServlet</display-name>
    <servlet-name>updateLibraryServlet</servlet-name>
    <servlet-class>controller.updateLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateLibraryServlet</servlet-name>
    <url-pattern>/updateLibraryServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>deleteLibrary1Servelt</display-name>
    <servlet-name>deleteLibrary1Servelt</servlet-name>
    <servlet-class>controller.deleteLibrary1Servelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLibrary1Servelt</servlet-name>
    <url-pattern>/deleteLibrary1Servelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addbookservlet</display-name>
    <servlet-name>addbookservlet</servlet-name>
    <servlet-class>controller.addbookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addbookservlet</servlet-name>
    <url-pattern>/addbookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletebookservlet</display-name>
    <servlet-name>deletebookservlet</servlet-name>
    <servlet-class>controller.deletebookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletebookservlet</servlet-name>
    <url-pattern>/deletebookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatebookservlet</display-name>
    <servlet-name>updatebookservlet</servlet-name>
    <servlet-class>controller.updatebookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatebookservlet</servlet-name>
    <url-pattern>/updatebookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewbookservlet</display-name>
    <servlet-name>viewbookservlet</servlet-name>
    <servlet-class>controller.viewbookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewbookservlet</servlet-name>
    <url-pattern>/viewbookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getbookbyidservlet</display-name>
    <servlet-name>getbookbyidservlet</servlet-name>
    <servlet-class>controller.getbookbyidservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getbookbyidservlet</servlet-name>
    <url-pattern>/getbookbyidservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getcategoryservlet</display-name>
    <servlet-name>getcategoryservlet</servlet-name>
    <servlet-class>controller.getcategoryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcategoryservlet</servlet-name>
    <url-pattern>/getcategoryservlet</url-pattern>
  </servlet-mapping>
</web-app>